*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Noto Serif TC', serif;
    font-size: 16px;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 1.5rem;
}
.logo{
    display: inline-block;
    justify-content: flex-start;
    color:black;
    padding: 5px;
}
.nav-link{
    list-style: none;
}

li, a{
    font-weight: 500;
    color:black;
}

.nav-link li{
    display: inline-block;
    justify-content: flex-end;
    padding:5px;
    text-decoration: none;
}

.nav-link li a{
    text-decoration: none;
}
.nav-link li a:hover{
    text-decoration:underline cadetblue solid;
    text-underline-offset: 5px;
}
footer{
    color:black;
    text-align: center;
}

.content{
    display: block;
    margin: 5em 5em;
}

hr{
    margin: 1em 0;
}
p{
    margin: 1em 0;
}

#t1{
    background-image: url(https://test1.neorangene.com/oranchustudygroup/t1.jpg);
    background-size:cover;
    height: 70vh;
}
#t1 h1{
    position: absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right: auto;
    font-size: 40px;
    top:35%;
    text-align: center;
    color:white;
}

#t2{
    margin-left: 2rem;
}

@media (max-width:600px){
    .nav-link{
        display: none;
    }
}