html {
	scroll-behavior: smooth;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Noto Serif TC', serif;
	font-size: 16px;
}

header {
	display: flex;
	justify-content: space-between;
	background-color: white;
	padding: 1.5rem;
	margin: 0 10rem;
}

.logo {
	display: inline-block;
	justify-content: flex-start;
	color: black;
	padding: 5px;
    cursor: default;
}

.nav-link {
	display: flex;
	list-style: none;
}

li,
a {
	font-weight: 500;
	color: black;
}

.nav-link li {
	display: inline-block;
	justify-content: flex-end;
	padding: 5px;
	/* text-decoration: none; */
}

.nav-link li a {
	text-decoration: none;
}

.nav-link li a:hover {
    cursor: pointer;
	text-decoration: underline #6dc1ba solid;
	text-underline-offset: 5px;
}

.content {
	display: block;
	margin: 5rem 10rem;
}

.content hr {
	margin: 1em 0;
}

.content p {
	margin: 1em 0;
}

.content-block {
	margin-bottom: 2rem;
}

.content-block-title {
	font-size: 24px;
}
.content-block-description {
	line-height: 1.5em;
}
.content-block-description ul {
	margin-top: 0.5rem;
	margin-left: 3rem;
}
.content-block-description h2 {
	font-size: 20px;
	font-weight: 700;
}
.content-block-description h3 {
	font-size: 16px;
	font-weight: 700;
	margin: 1em 0;
}
#t1 {
	background-image: url('https://test1.neorangene.com/oranchustudygroup/t1.jpg');
	background-size: cover;
	height: 70vh;
}
#t1 h1 {
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	font-size: 40px;
	top: 35%;
	text-align: center;
	color: white;
}

#t2 {
	margin-left: 2rem;
}

@media (max-width: 850px) {
	.nav-link {
		display: none;
	}
	.content {
		margin: 2.5rem 3rem;
	}
	header {
		margin: 0 3rem;
	}
}

footer {
	margin: 0;
	padding: 2rem 1rem;
	color: black;
	text-align: center;
	background-color: #6dc1ba;
}
